[Unit]
Description=OX VPN service

[Service]
ExecStart=openvpn --config /home/fred/Documents/OX/VPN/fred_morcos@alcatraz.open-xchange.com.ovpn --auth-user-pass /home/fred/Documents/Important/Passwords/_ox.txt --script-security 2 --up /home/fred/Workspace/dots/vpn/dns-setup
Restart=always
TimeoutSec=5
RestartSec=5

[Install]
WantedBy=network-online.target
