[Unit]
Description=OX VPN service

[Service]
ExecStart=openvpn --config /home/fred/Documents/Notes/OX/OX/VPN/profile-userlocked-fred.morcos.ovpn --auth-nocache --auth-user-pass /home/fred/Documents/Notes/Secrets/Passwords/_ox.txt --script-security 2 --up /home/fred/Workspace/dots/vpn/dns-setup --data-ciphers 'AES-256-CBC:AES-256-GCM:AES-128-GCM:CHACHA20-POLY1305'
Restart=always
TimeoutSec=5
RestartSec=5

[Install]
WantedBy=network-online.target
WantedBy=NetworkManager-wait-online.service
