[Unit]
Description=NetworkManager Applet
After=NetworkManager.service
Requires=NetworkManager.service
Wants=NetworkManager.service

[Service]
ExecStart=/usr/bin/nm-applet
Restart=always

[Install]
WantedBy=default.target
