[Unit]
Description=Compton Compositing Manager
After=display-manager.service

[Service]
ExecStart=/usr/bin/compton
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
