[Desktop Entry]
Name=Settings Editor
GenericName=Configuration editor for dconf
Comment=Directly edit your entire configuration database
Keywords=settings;configuration;
Exec=dconf-editor
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
DBusActivatable=true
Icon=/usr/share/icons/Papirus/64x64/apps/dconf-editor.svg
