[Desktop Entry]
Name=KGraphViewer
MimeType=text/vnd.graphviz
Exec=kgraphviewer -qwindowtitle %c %u
Icon=/usr/share/icons/Papirus/64x64/apps/kgraphviewer.svg
Type=Application
Categories=Qt;KDE;Graphics;Viewer;2DGraphics;DataVisualization;
X-DocPath=kgraphviewer/index.html
InitialPreference=10
Comment=A Graphviz DOT graph viewer
Terminal=false
