[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=X11 Full RGB Range
Comment=Set X11 to broadcast full RGB support
Exec=bash -c 'xrandr --output DP-1-3 --set "Broadcast RGB" "Full" ; xrandr --output DP-3 --set "Broadcast RGB" "Full" ; xrandr --output DP1 --set "Broadcast RGB" "Full" ; xrandr --output eDP1 --set "Broadcast RGB" "Full" ; xrandr --output HDMI-A-0 --set "Broadcast RGB" "Full"'
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
