[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=X11Resources
Comment=Merge X11 Resources with Xrdb
Exec=xrdb -merge ~/.Xresources
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

