[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=X11 No DPMS
Comment=Disable X11 DPMS
Exec=/usr/bin/xset -dpms
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
