[Unit]
Description=Reduce HDD Power Management
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target
After=basic.target
After=sysinit.target
After=multi-user.target
After=powertop.service
Wants=powertop.service

[Service]
ExecStart=-/sbin/hdparm -B 255 -S 254 -W 1 /dev/sda /dev/sdb /dev/sdc /dev/sdd

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
WantedBy=basic.target
WantedBy=sysinit.target
WantedBy=multi-user.target
