[Unit]
Description=Discard unused blocks on a filesystem
Documentation=man:fstrim(8)
Requires=%f.mount
After=%f.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/fstrim --verbose %f
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=no
PrivateNetwork=yes
PrivateUsers=no
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
MemoryDenyWriteExecute=yes
SystemCallFilter=@default @file-system @basic-io @system-service
