favorites=xfce4-appfinder.desktop,exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-web-browser.desktop,org.gnome.Calculator.desktop,gucharmap.desktop,pavucontrol.desktop,steam-native.desktop,transmission-gtk.desktop
recent=exo-file-manager.desktop,io.github.Hexchat.desktop,exo-terminal-emulator.desktop,xfce-display-settings.desktop,xfce4-settings-editor.desktop,ca.desrt.dconf-editor.desktop,exo-web-browser.desktop,org.gnome.DiskUtility.desktop
button-title=Applications
button-icon=start-here-symbolic
button-single-row=true
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=0
load-hierarchy=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=false
menu-width=553
menu-height=620
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=gdmflexiserver
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=false
command-profile=mugshot
show-command-profile=false
search-actions=5

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Web Search
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action3]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action4]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

