[Desktop Entry]
Version=1.0
Name=Notification Daemon
Exec=/usr/lib/xfce4/notifyd/xfce4-notifyd
Icon=xfce4-notifyd
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
