/* * { */
/*     -GtkToolbar-internal-padding: 1; */
/* } */

/* .toolbar { */
/*     padding: 1; */
/* } */

/* .primary-toolbar.toolbar { */
/*     padding: 1; */
/* } */

/* .menubar { */
/*     background-image: none; */
/* } */

.scrollbar {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    -GtkScrollbar-has-secondary-backward-stepper: false;
    -GtkScrollbar-has-secondary-forward-stepper: false;
    -GtkRange-slider-width: 8;
    -GtkRange-stepper-spacing: 0;
    background-color: rgba(0, 0, 0, 0);
}

.scrollbar.slider,
.scrollbar.button {
    border-radius: 2;
}

