[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Lock
Comment=Lock screen at startup
Exec=slimlock
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

