[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/fred/Workspace/dotfiles/startup.sh
Name=Startup
Comment=Script for Startup Applications
